<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">
<!-- 获取数据配置数据库 -->
<context:property-placeholder location="classpath:DB.properties"/>
<!-- 获取jndi数据源dbcp -->
<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
	<property name="driverClassName" value="${jdbc.driver}"></property>
	<property name="url" value="${jdbc.url}"></property>
	<property name="username" value="${jdbc.uname}"></property>
	<property name="password" value="${jdbc.pwd}"></property>
	<property name="maxActive" value="${jdbc.maxActive}"></property>	
	<property name="maxWait" value="${jdbc.maxWait}"></property>
	<property name="maxIdle" value="${jdbc.maxIdle}"></property>
	<property name="minIdle" value="${jdbc.minIdle}"></property>
	<property name="removeAbandoned" value="${jdbc.removeAbandoned}"></property>
	<property name="removeAbandonedTimeout" value="${jdbc.removeAbandonedTimeout}"></property>
	<property name="initialSize" value="${jdbc.initialSize}"></property>
</bean>
<!-- 配置sqlsessionfactorybean -->
<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="dataSource" ref="dataSource"></property>
	<!-- 配置mabatis文件 -->
	<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	<!-- mapper配置文件 -->
	<property name="mapperLocations" value="classpath:mapper/*.xml"></property>
</bean>
</beans>
